BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 0
TabWidth: 4
UseTab: Never
BreakBeforeBraces: Attach
AllowShortIfStatementsOnASingleLine: false
AllowShortFunctionsOnASingleLine: false
AllowShortBlocksOnASingleLine: false
PointerAlignment: Left
AlignConsecutiveAssignments: true
AlignOperands: true
